/*
   New Perspectives on JavaScript, 2nd Edition
   Tutorial 5
   Case Problem 1
   Filename: mplstyles.css

   This file contains styles used in the mpl.htm file.

*/

body {margin: 0px; background-color: ivory}
#head {width: 100%; background-color: rgb(255,153,51); margin-bottom: 10px;
       margin-top: 0px; border-bottom: 1px solid blue;}
#links {width: 150px; font-size: 8pt; margin: 10px 10px 20px 5px; 
        padding: 5px; border: 1px solid blue; background-color: white}
#links a {display: block; font-family: sans-serif; text-decoration: none;
          color: black; padding: 2px}
#links a:hover {text-decoration: underline; color: blue}
#links span {width: 100%; color: white; background-color: blue; text-align: center;
             font-family: sans-serif; display: block; font-weight: bold; letter-spacing: 4px}
.newgroup {margin-top: 10px}

#main {position: absolute; left: 175px; top: 70px; font-family: Arial, Helvetica, sans-serif}
h2 {font-family: sans-serif; margin-bottom: 0px; margin-top: 10px; color: blue; 
    letter-spacing: 5px}
td {vertical-align: top; font-family: Arial, Helvetica, san-serif; font-size: 10pt;
    padding-right: 15px; padding-bottom: 10px}
select {width: 350px; font-size: 10pt}

address {clear: left; border-top: 1px solid blue; font-family: sans-serif; font-size: 8pt;
         text-align: left; font-style: normal; margin-top: 10px}

address b {margin-left: 10px; color: blue}